*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #00094B;
  --color-text: #00094B ;
  --color-gray: #B9B4C7;
  --color-white: #B9B4C7;
  --color-black: #191919;

  --color-bf4800: #bf4800;
}

.error {
  color: var(--color-bf4800)
}

body{
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30{
  gap:30px;
}

p {
  margin-bottom: 0;
}

.button{
  background-color: var(--color-text);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}

.button:hover{
  /* background-color: var(--color-); */
  color: var(--color-white);
  transition: 0.2s linear;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 10px;
}

.section-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Header */

.header {
  height: 80px;
}

.header-container{
  line-height: 80px
}

.header-logo {  
  /* background-color: #131921; */
  color: var(--color-primary);
  font-size: 30px;
  font-weight: 500;
}

.icon-header {
  color: #131921 !important;
  width: 20px;
  height: 20px;
  position: relative;
}

.sub-total {
  position: absolute;
  transform: translate(10px,-8px);
  z-index: 2;

}

.sub-wishlist{
  position: absolute;
  transform: translate(10px,-8px);
  z-index: 2;
}

.header-top-strip{
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
}

.header-upper{
  background-color: var(--color-131921);

}

.header-upper .input-group-text {
  background-color: var(--color-text)
} 

.input-group {
  width: 550px;
  border-radius: 10px;
}

.header-upper-links img {
  /* background-color: var(--color-text); */
  color: red;
  width: 20px;
  height: 20px;

}

.header-bottom {
  background-color: var(--color-black);
}


.header-bottom .menu-links a,
.header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus{
  box-shadow: none;
}

.header-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width:100%;
  /* transform: translate3d(0px, 57px, 0px) !important;  */
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149)
}

.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-febd69) !important;
}

/* Footer */


.footer{
  background-color: #191919;
}


.footer:not(:first-child) {
  border-top: 1px solid rgba(255,255,255,0.1)
}

.footer .input-group-text{

  background-color: var(--color-3b4149);
  color: #ccc;
  padding: 8px 17px !important;
}

.footer .input-group-text:hover{
  cursor: pointer;
  color: white;
}


/* HOME PAGE */
/* Home wrapper 1 */

.main-banner-content {
  top: 5%;
  left: 12%;
}

.main-banner-content h4{
  color: var(--color-white);
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.main-banner-content h5{
  font-size: 50px;
  line-height: 54px;
  /* margin: 0 0 12px; */
  font-weight: 500;
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p{
  font-size: 18px;
  line-height: 24px;
  color: var(--color-131921);
  letter-spacing: 0.4;

}

.banner-small {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.small-banner-content {
  top: 20%;
  left:10%;
}

.small-banner-content h4{
  color: var(--color-bf4800);
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 12px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}



.small-banner-content h5{
  font-size: 22px;
  line-height: 34px;
  margin: 0 0 12px;
  font-weight: 500;
  letter-spacing: -2px;
  text-transform: none;
}

.small-banner-content p{
  font-size: 14px;
  line-height: 22px;
  color: var(--color-131921);
  letter-spacing: 0.4;

}

.small-banner{
  width: 49%;
}


.service {
  display: flex;
  justify-content: space-between;
 
}


.service-item {
  display: flex;
  gap: 15px;
  align-items: center;
}



/* Home wrapper 2 */

.home-wrapper-2 {
  background-color: #f5f5f5;
}


/* marquee wrapper*/

.marque-wrapper{
  /* background-color: #f5f5f5; */
}


/* Blog Card */
.blog-card{
  background-color: white;
  border-radius: 10px;
}

.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content{
  padding: 20px;
}

.blog-content .date{
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.blog-content h5{
  color: #131921;
  font-size: 18px;

}


.blog-content .desc{
  color: #777777;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 10px;
}


/* Product Card */

.product-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;

}

.product-card:hover{
  transform: translateY(-2px);
  transition: all 0.3s;
}


.product-card .product-image{
}

.product-card .product-image img{
  width: 100%;
  height: 300px;
  object-fit: contain;
  flex-shrink: 0;
  mix-blend-mode: none;
}


.product-detail{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-detail-top{
  display: flex;
  flex-direction: column;
}

.product-detail-bottom{
  margin-top: -10px;
}

/* .product-card .product-image > img:last-child {
  display: none;
}
.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}
.product-card:hover .product-image > img:last-child {
  transition: 0.3s;
  display: block;
} */


.product-card:hover .action-bar{
  right: 15px;
}

.product-detail .brand{
  font-size: 13px;
  color: #bf4800;
}

.product-detail .product-title{
  flex-shrink: 0;
  font-size: 18px;
  height: 45px;
  color: var(--color-text);
  word-break: break-all;
  display:-webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;

}

.product-detail .price{
  font-size: 16px;
  color: #1c1c1c;
}

.product-detail .desc{
  font-size: 13px;
  color: #777777;
  margin-right: 20px;
}

.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon {
  top: 2%;
  right: 17px;
}

/* Special product */

.special-product-card{
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
}


/* Our Store */

.filter-card {
  padding: 10px 15px 25px;
  background-color: white;
  border-radius: 10px;
}

.filter-tilte{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #1c1c1c;
  margin-bottom: 20px;
}

.filter-card ul, .form-check-label {
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  cursor: pointer;
  color: #777777;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: #1c1c1c;
  margin: 20px 0;
}

.colors {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 999px;
}

.ramdom-products h5 {
  font-size: 14px;
  margin-bottom: 8px;
}

.ramdom-products:first-child {
  border-bottom: 1px solid #ededed;  
}

/* Col-9 */

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.grid img {
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.gr-12 {
  width: 100%;
}

.gr-6 {
  width: 48.4%;
}

.gr-4 {
  width: 32.5%;
}

.gr-3 {
  width: 24%
}

.gr-3 .product-image img{
  margin: auto;
  display: block;
  width: 180px;
  height: 180px;
}

.gr-4 .product-image img{
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
}

.gr-6 .product-image img{
  margin: auto;
  display: block;
  width: 250px;
  height: 250px;
}

.gr-12 .product-card{
  display: flex;
  gap: 20px;
}

.gr-12 .product-card .product-image{
  width: 170px;
  display: block;
  height: 170px;
}


.gr-12 .action-bar {
  top: 20%;
}


/* Wishlist */

.wishlist-card .cross{
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 25px;
  padding: 5px;
  background-color: #eee;
  border-radius: 999px;
}

.wishlist-card h5.price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: #1c1c1b;
}

.wishlist-card h6.price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}




/* Auth Pages */

.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 0 auto;
  border-radius: 3px;
}

.auth-card h3{
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;

}

.auth-card p{
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}

.auth-card a{
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1c;
  margin-top: 8px;
}


/* Single Product */

 .desc{
  /* border-color: 1px so; */
  border-top: 1px solid #ccc;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 14px;
  color: #191919;
}



.main-product-image, .main-product-detail{
  padding: 20px;
  background-color: white;
  border-radius:10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.main-product-image img {
  width: 100% !important;
  height: 500px !important;
  object-fit: contain;
}



.product-heading {
  font-size: 14px;
  color: #1c1c1b;
  margin-bottom: 0;
}

.product-data{
  font-size: 13px;
  color: #777777;
  margin: 0;
}


/* Cart Page */

.cart-header, .cart-data{
  border-bottom: 1px solid #eaeaea;
}

.cart-header h4 {
  font-size: 14px;
  color: #777777;
}

.cart-col-1 {
  width: 40%;
}

.cart-col-2 {
  width: 10%;
}

.cart-image {
  width: 30%;
}

.cart-image img {
  width: 100px;
  height: auto;
}

.icon-delete-cart:hover{ 
  cursor: pointer;
}

/* wishlist */

.wishlist-card-image img{
  width: 250px;
  height: 300px;
}

.wishlist-tilte {
  color: var(--color-text);

}

.wishlist-price {
  color: var(--color-bf4800);

}